@model MusicApp2017.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit Profile";
}
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button" class="navbar-toggle collapsed" data-toggle="collapse"
                     data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button">
            <a class="navbar-brand" href="#">Menu</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a asp-action="Index" asp-controller="Albums">Albums</a>
                </li>
                <li class="active">
                    <a asp-action="Index" asp-controller="Artists">Artists</a>
                </li>
                <li class="active">
                    <a asp-action="Index" asp-controller="Genres">Genres</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3>Edit Profile</h3>

<form asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form-horizontal">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Email" value="@Model.Email"/>
        <div class="form-group">
            <label asp-for="GenreID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="GenreID" class="form-control" asp-items="ViewBag.GenreID"></select>
                <span asp-validation-for="GenreID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@*@section Scripts {

    }*@
