<button (click)="toggleForm()" class="btn btn-info btn-lg" *ngIf="!showForm">
    Create Album
</button>
<div *ngIf="showForm">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-horizontal">
            <h4>Album</h4>
            <hr />
            <div class="form-group">
                <label id="title" class="col-md-2 control-label">Title</label>
                <div class="col-md-10">
                    <input type="text" id="title" class="form-control"
                           [(ngModel)]="model.title" name="title"
                           #title="ngModel"
                           required/>
                    <div *ngIf="title.errors && title.touched"
                         class="alert alert-danger">
                        <div [hidden]="!title.errors.required">
                            The title is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label id="artistID" class="col-md-2 control-label">Artist</label>
                <div class="col-md-10">
                    <select id="artistID" class="form-control" 
                            [(ngModel)]="model.artistID" name="artistID"
                            #artistID="ngModel"
                            required>
                        <options *ngFor="let artist of artists" value={{artist.artistID}}>{{artist.name}}</options>
                    </select>
                    <div *ngIf="artistID.errors && artistID.touched"
                         class="alert alert-danger">
                        <div [hidden]="!artistID.errors.required">
                            The artist is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label id="genreID" class="col-md-2 control-label">Genre</label>
                <div class="col-md-10">
                    <select id="genreID" class="form-control" 
                            [(ngModel)]="model.genreID" name="genreID"
                            #genreID="ngModel"
                            required>
                        <options *ngFor="let genre of genres" value={{genre.genreID}}>{{genre.name}}</options>
                    </select>
                    <div *ngIf="genreID.errors && genreID.touched"
                         class="alert alert-danger">
                        <div [hidden]="!genreID.errors.required">
                            The genre is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                   <button type="submit" class="btn btn-info" 
                           [disabled]="!f.form.valid">Create</button>
                </div>
            </div>
        </div>
    </form>
</div>

