<h1>Albums</h1>
<p *ngIf="!albums"><em>Loading albums...</em></p>
<div *ngIf="albums">
    <input type="text" ng-model="search" placeholder="Search Albums..." />

    <table class="table" *ngIf="albums">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let album of albums | searchAlbums: search">
                <td [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/albums', album.albumID]">{{ album.title }}</a>
                </td>
                <td>{{album.artist.name}}</td>
                <td>{{album.genre.name}}</td>
            </tr>
        </tbody>
    </table>
    <addalbum></addalbum>
</div>