<h1>Album Details</h1>
<p *ngIf="!album"><em>Loading album...</em></p>

<div *ngIf="album">
    <div>Title: {{album.title}}</div>
    
    <div>Artist: {{album.artist.name}}</div>
    
    <div>Genre: {{album.genre.name}}</div>
</div>
<hr/>
<button (click)="deleteAlbum()" class="btn btn-info btn-default">
    Delete Album
</button>
<button (click)="toggleForm()" class="btn btn-info btn-default" *ngIf="!showForm">
    Update Album
</button>
<div *ngIf="showForm">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label id="title" class="col-md-2 control-label">Title</label>
                <div class="col-md-10">
                    <input type="text" id="title" class="form-control"
                           [(ngModel)]="album.title" name="title"
                           #title="ngModel"
                           value="{{album.title}}"
                           required />
                    <div *ngIf="title.errors && title.touched"
                         class="alert alert-danger">
                        <div [hidden]="!title.errors.required">
                            The title is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label id="artistID" class="col-md-2 control-label">Artist</label>
                <div class="col-md-10">
                    <select id="artistID" class="form-control"
                            [(ngModel)]="album.artistID" name="artistID"
                            #artistID="ngModel"
                            required>
                        <option>--Select Artist--</option>
                        <option *ngFor="let artist of artists" value="{{artist.artistID}}">{{artist.name}}</option>
                    </select>
                    <div *ngIf="artistID.errors && artistID.touched"
                         class="alert alert-danger">
                        <div [hidden]="!artistID.errors.required">
                            The artist is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label id="genreID" class="col-md-2 control-label">Genre</label>
                <div class="col-md-10">
                    <select id="genreID" class="form-control"
                            [(ngModel)]="album.genreID" name="genreID"
                            #genreID="ngModel"
                            required>
                        <option>--Select Genre--</option>
                        <option *ngFor="let genre of genres" value="{{genre.genreID}}">{{genre.name}}</option>
                    </select>
                    <div *ngIf="genreID.errors && genreID.touched"
                         class="alert alert-danger">
                        <div [hidden]="!genreID.errors.required">
                            The genre is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info"
                            [disabled]="!f.form.valid">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>