<head>
    <script
        src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script
        src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js">
 
    </script>
</head>
<h1>Albums</h1>
<p *ngIf="!albums"><em>Loading albums...</em></p>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search albums" ng-model="searchAlbums" />
            <p>Search: {{searchAlbums}}</p>
        </div>
    </div>
</form>
<table class="table" *ngIf="albums">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let album of albums">
            <td [routerLinkActive]="['link-active']">
                <a [routerLink]="['/albums', album.albumID]">{{ album.title }}</a>
            </td>
            <td>{{album.artist.name}}</td>
            <td>{{album.genre.name}}</td>
        </tr>
    </tbody>
</table>
<addalbum></addalbum>